
.chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // margin-top: 16px;
    // flex-direction: row-reverse;
    // flex-wrap: wrap-reverse;

    .chip {
        --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
        --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.87);
        border-radius: 16px;
        margin: 0 6px 6px 0;
        padding: 4px 8px;
        display: inline-flex;
        position: relative;
        align-items: center;
        // height: 32px;
        background: var(--background);
        color: var(--color);
        font-family: var(--ion-font-family, inherit);
        font-size: 14px;
        line-height: 1;
        cursor: pointer;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;

        &.chip-selected {
            --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.3);
        }
    }
}
